logicapp/wf_orders_from_sb_to_router_order/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Parse_event": {
        "type": "ParseJson",
        "inputs": {
          "content": "@triggerBody()?['contentData']",
          "schema": {
            "type": "object",
            "properties": {
              "?xml": {
                "type": "object",
                "properties": {
                  "@@version": {
                    "type": "string"
                  },
                  "@@encoding": {
                    "type": "string"
                  }
                }
              },
              "order": {
                "type": "object",
                "properties": {
                  "orderId": {
                    "type": "string"
                  },
                  "orderDate": {
                    "type": "string"
                  },
                  "contact": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "jobTitle": {
                    "type": "string"
                  },
                  "billingAddress": {
                    "type": "object",
                    "properties": {
                      "street": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "postalCode": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string"
                      }
                    }
                  },
                  "product": {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string"
                      },
                      "version": {
                        "type": "string"
                      },
                      "quantity": {
                        "type": "string"
                      }
                    }
                  },
                  "delivery": {
                    "type": "object",
                    "properties": {
                      "method": {
                        "type": "string"
                      },
                      "trackingNumber": {
                        "type": "string"
                      },
                      "estimatedDeliveryDate": {
                        "type": "string"
                      },
                      "deliveryAddress": {
                        "type": "object",
                        "properties": {
                          "street": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "postalCode": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          }
                        }
                      },
                      "deliveryInstructions": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "instock": {
                "type": "string"
              }
            }
          }
        },
        "runAfter": {}
      },
      "Call_Router_Order_API": {
        "type": "Http",
        "inputs": {
          "uri": "@{appsetting('routerOrderApiUrl')}",
          "method": "POST",
          "body": {
            "order": {
              "items": [
                {
                  "model": "@{concat(body('Parse_event')?['order']?['product']?['model'], body('Parse_event')?['order']?['product']?['version'])}",
                  "quantity": "@body('Parse_event')?['order']?['product']?['quantity']"
                }
              ]
            }
          }
        },
        "runAfter": {
          "Parse_event": [
            "SUCCEEDED"
          ]
        },
        "limit": {
          "timeout": "PT1H"
        },
        "runtimeConfiguration": {
          "contentTransfer": {
            "transferMode": "Chunked"
          }
        }
      },
      "Parse_JSON": {
        "type": "ParseJson",
        "inputs": {
          "content": "@body('Call_Router_Order_API')",
          "schema": {
            "type": "object",
            "properties": {
              "orderResponse": {
                "type": "object",
                "properties": {
                  "success": {
                    "type": "boolean"
                  },
                  "timestamp": {
                    "type": "string"
                  },
                  "orderDetails": {
                    "type": "object",
                    "properties": {
                      "orderId": {
                        "type": "string"
                      },
                      "orderDate": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "runAfter": {
          "Call_Router_Order_API": [
            "SUCCEEDED"
          ]
        }
      },
      "Send_message": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "topic-router-orders",
            "message": {
              "contentData": "@triggerBody()?['contentData']",
              "userProperties": {
                "instock": "true"
              }
            }
          },
          "serviceProviderConfiguration": {
            "connectionName": "serviceBus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "If_status_it_not_SUCCESS": [
            "SUCCEEDED"
          ]
        }
      },
      "If_status_it_not_SUCCESS": {
        "type": "If",
        "expression": {
          "and": [
            {
              "not": {
                "equals": [
                  "@body('Parse_JSON')?['orderResponse']?['orderDetails']?['status']",
                  "SUCCESS"
                ]
              }
            }
          ]
        },
        "actions": {
          "Terminate": {
            "type": "Terminate",
            "inputs": {
              "runStatus": "Failed"
            }
          }
        },
        "else": {
          "actions": {}
        },
        "runAfter": {
          "Parse_JSON": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "When_messages_are_available_in_a_topic": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "topicName": "topic-router-orders",
            "subscriptionName": "sub-order-router",
            "isSessionsEnabled": false
          },
          "serviceProviderConfiguration": {
            "connectionName": "serviceBus",
            "operationId": "receiveTopicMessages",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "splitOn": "@triggerOutputs()?['body']"
      }
    }
  },
  "kind": "Stateful"
}